<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <button mat-button routerLink="/">{{ title }}</button>
    </span>
    <div fxShow="true" fxHide.lt-md>
      <a mat-button [routerLink]="'/generator'"> Generator </a>
      <a mat-button [routerLink]="'/converter'"> Converter </a>
    </div>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a
        mat-button
        href="https://github.com/mineminemine/GO2Grasscutter"
        target="_blank"
      >
        Github
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav style="width: 60%">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/generator'" (click)="sidenav.toggle()">
        Generator
      </a>
      <a mat-list-item [routerLink]="'/converter'" (click)="sidenav.toggle()">
        Converter
      </a>
      <mat-divider></mat-divider>
      <a
        mat-list-item
        href="https://github.com/mineminemine/GO2Grasscutter"
        target="_blank"
        (click)="sidenav.toggle()"
      >
        Github
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet
  ></mat-sidenav-content>
</mat-sidenav-container>
